 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #4f46e5, #9333ea);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #ffffff;
  width: 350px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}


h1 {
  text-align: center;
  margin-bottom: 15px;
  color: #333;
}

/* Input section */
.input-box {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

input:focus {
  border-color: #6366f1;
}

/* Add button */
button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #6366f1;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #4f46e5;
}

/* Todo list */
ul {
  list-style: none;
}

li {
  background: #f3f4f6;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Delete button */
li button {
  background: #ef4444;
  padding: 5px 8px;
  font-size: 12px;
}

li button:hover {
  background: #dc2626;
}
